# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump

 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Library/metadata/86/86a90b2f980f94b4394d5b09b230ef6b
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/metadata/86/86a90b2f980f94b4394d5b09b230ef6b
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/assetDatabase3
Library/
Library/shadercompiler-32bit-1.log
*.log
Library/metadata/86/86a90b2f980f94b4394d5b09b230ef6b
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
*.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/00/00000000000000004000000000000000
*.info
Library/assetDatabase3
Library/assetDatabase3
*.info
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
*.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll